.list-row-field[secondary="true"] {
  @media(max-width: 1023px) {
    display: none !important;
  }
}

.list-row, .mobile-scroll {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(216, 218, 225);
  height: 55px;
  color: rgb(0, 0, 0);

  &:hover {
    background-color: #f7f8f9;
  }

  @media(max-width: 480px) {
    height: 65px;
    padding-left: 0.5em;
  }

  .list-row-field {
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
  }

  .list-row-field:first-child {
    flex: 0;
  }

  .list-row-field:last-child {
    padding-right: 0.5em;

    @media(max-width: 1023px) and (min-width: 481px) {
      padding-right: 20px;
    }

    @media(max-width: 480px) {
      padding-right: 20px;
    }

    div {
      text-align: right;
    }
  }
}

.list-row:last-child {
  @media(max-width: 480px) {
    margin-bottom: 65px;
  }
}

.mobile-screen_udt {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(216, 218, 225);
  color: rgb(0, 0, 0);
  padding-left: 2px;
  display: grid;
  grid-template-columns: 100px 6fr;
  align-items: center;

  .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.no-image {
    grid-template-columns: 72px 6fr;
  }

  &:hover {
    background-color: #f7f8f9;
  }

  .grid {
    display: grid;
    grid-template-columns: 70px 3fr;
  }

  .label-config {
    .label {
      font-size: .9em;
      display: inline-block;
      padding-left: 3px;
      padding-right: 3px;
    }

    .field-contents {
      padding-left: 3px;
      padding-right: 3px;
      display: flex;
      align-items: flex-end;
    }
  }

  .list-row-field {
    padding-left: 3px;
    padding-right: 3px;
  }

  .rest {
    .list-row-field {
      color: rgba(0, 0, 0, 0.6)
    }

    .list-row-field:nth-of-type(1) {
      color: rgb(0, 0, 0);
      font-weight: 900 !important;
      font-size: 15px !important;
      padding-bottom: 5px;
    }
  }

  .right-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 120px;
    flex-wrap: wrap;
  }

  .mobile-right {
    text-align: right;
    margin-right: 2px;

    .list-row-field {
      display: inline-block;
      margin-right: 1em;
      background-color: lightgreen;
      padding: 0.5em;
      border-radius: 4px;
      color: black;
      font-size: 12px;
    }
  }
}

.no-image {
  .rest {
    .list-row-field {
      color: rgba(0, 0, 0, 0.6)
    }

    .list-row-field:nth-of-type(1) {
      color: rgb(0, 0, 0);
      padding-bottom: 0px;
    }
  }
}

